*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Ink Free";
    src: url("./font/ink-free.ttf") format("TrueType Contorns");
}
body{
    background-color: black;
    color: white;
    font-size: 16px;
    font: 1em 'Ink Free';
}
header{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: left;
}
.menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: 20%;
    width: 100%;
    
}
.menu ul{
    display: flex;
    list-style-type: none;
    list-style: none;
}
.menu picture{
    display: flex;
    align-items: left;
}
.menu li{
    padding: 1vw;
    list-style-type: none;
    list-style: none;
    
}
.menu li:hover{
    box-shadow: 0 1em 1em white;
    background-color: white;
    color: black;
}
.menu a{
    color: white;
}
.b1{
    width: 80vw;
    background-image: url("./imagens/d1.png");
    animation: piscao infinite;
    animation-duration: 2s;
    display: flex;
    margin: auto;
    padding-top: 0;
    padding: 8vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    color: white;
    font-size: 1.5em;
}
.b1 picture{
    width: 100%; 
    height: 40vh; 
    padding:1rem; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 2rem;
}
.b1 picture img{
    width: 80%; 
    height: 100%
}
.cont1{
    background-color: rgb(0, 0, 0);
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 0;
    padding: 8vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    color: white;
    font-size: 1.5em;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
}
.cont1-1{
    background-color: rgb(0, 0, 0);
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    color: white;
    font-size: 1.5em;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
}
.topo{
    height: 87.440px;
    width: 100%;
}
.baratinha1{
    background-image: url("https://i.imgur.com/xZDaZsG.png");
    width: 100px;
    height: 100%;
    animation: baratinha;
    animation-duration: 5s;
    position: relative;
    left: -100%;
}
@keyframes baratinha {
    from {left: -100%;}
    50% {left: 100%;}
    to { left: -100%;}    
}
p{
    margin: 1rem;
}
.b2{
    width: 98vw;
    background-color: rgb(26, 24, 24);
    margin: auto;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
}
.b2-1{
    display: flex;
    justify-content: center;
    padding: 2rem;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
    flex-direction: row;
}
.b2-2{
    display: flex;
    width: 98vw;
    justify-content: center;
}
.b2-2-1{
    width: 48vw;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
    justify-content: center;  
    align-items: center;  
}
.ima{
    width: 8vw;
    z-index: 1;
    height: 12vh;
}
.b2-2-1 picture{
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 0;
    align-items: center;
    width: 100%;
    height: 100%;
}
.b2-2-1 picture img{
    z-index: 0;
}
.b2-2-2{
    width: 48vw;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font: 2em 'Ink Free';
}
.b2-2-2-1{
    display: flex;
    padding: 1vh;
    width: 30vw;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    
}
.deschab{
    width: 20vw;
    background-color: black;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
    text-wrap: wrap;
    word-wrap: break-word;
    min-height: 10vh;
    height: auto;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    height: 2vh;
    background-color: black;
}

.logo{
    width: 20%;
}
.contpat{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contpat2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.download{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.patreon{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: auto;
}
@keyframes piscao{
    0% {background-image: url("https://i.imgur.com/AyKQv9Y.png");}
    2% {background-image: url("https://i.imgur.com/kfcSevb.png");}
    4% {background-image: url("https://i.imgur.com/6l7ZbOV.png");}
    6% {background-image: url("https://i.imgur.com/sqHlIxr.png");}
    8% {background-image: url("https://i.imgur.com/eIjslf3.png");}
    10% {background-image: url("https://i.imgur.com/eIjslf3.png");}
    12% {background-image: url("https://i.imgur.com/sqHlIxr.png");}
    14% {background-image: url("https://i.imgur.com/6l7ZbOV.png");}
    16% {background-image: url("https://i.imgur.com/kfcSevb.png");}
    18% {background-image: url("https://i.imgur.com/AyKQv9Y.png");}
    20% {background-image: url("https://i.imgur.com/AyKQv9Y.png");}

}
.botao{
    list-style: none;
    color: white;
}
.botao li{
    background-color: black;
    border-width: 2px;
    font-size: 5em;
    padding: 4rem;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.botao a{
    color: white;
    text-decoration: none;
}
.botao li:hover{
    color: black;
    background-color: white;
    box-shadow: 0 16px 16px white;
}
.textpatreon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    margin-top: 3rem;
    margin-bottom: 7rem;
}
.textpatreon p{
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
}

.supart{
    font-size: 4em;
    width: 80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.divform{
    width: 30%;
    background: black;
    margin: auto;
    font: 2em 'Ink Free';
    font-size: 3em;

}
.divform form{
    display: flex;
    flex-direction: column;
}
.divform form input{
    height: 3vh;
    font-size: 1em;
}
.divform form textarea{
    font-size: 1em;
}
.supani1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.supani1 img{
    height: 80vh; 
    width: 60vw; 
    
}
.supcont2{
    width: 98vw;
    display: flex;
    margin-bottom: 2rem;

}

.olho{
    display: flex;
    width: 100%;
    height: 100vh;
    
}

.olho img{
    width: 100%;
    height: 100vh;
    animation: olho infinite;
    animation-name: olho;
    animation-duration: 1s;
}

.animapat{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.animapat img{
    height: 100%;
}
.carcentro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (max-width:2600px  ){
    .logo{
        width: 30%;
    }
    .menu li{
        font-size: 2em;
    }
    .cont1{
        padding: 2vw;
        font-size: 1.5em;
    }
    .b2-2-2{
        font-size: 3em;
    }
    .botao li{
        font-size: 5em;
        padding: 4rem;
    }
    footer{
        font-size: 3em;
    }
    .supart{
        font-size: 2.4em;
    }
    .divform{
        font-size: 1.5em;
    }
    .supani1 img{
        width: 80%;
    }
}
@media (max-width:1950px  ){
    .supani1 img{
        width: 100%;
    }
    .supart{
        font-size: 2.4em;
    }
    .divform{
        font-size: 1.5em;
    }
    .textpatreon{
        font-size: 2em;
    }
    .botao li {
        font-size: 2em;
        padding: 2rem;
    }
    .b2-2-2 {
        font-size: 2em;
    }
}
@media (max-width:1480px){
    .textpatreon{
        font-size: 2em;
    }
    .logo{
        width: 17%;
    }
    .menu li{
        font-size: 1em;
    }
    .cont1{
        font-size: 1em;
        padding: 4vw;
    }
    .b2-2-2{
        font-size: 2em;
    }
    .botao li{
        font-size: 3em;
        padding: 2rem;
    }
    footer{
        font-size: 1em;
    }
    .divform{
        font-size: 1.5em;
    }
    .supart{
        font-size: 2.4em;
    }
    .deschab{
        width: 40vw;
    }
}
@media (max-width:1050px) {
    .cont1{
        font-size: 1em;
    }
    .b2-2-2{
        font-size: 1.5em;
    }
    
}
@media (max-width:780px) {
    .botao li{
        font-size: 2em;
        padding: 2rem;
    }
    .textpatreon{
        font-size: 1.5em;
    }
    .divform{
        width: 40%;
    }
    .b1 picture img{
        width: 100%;
    }
    
    .b2-2-2{
        font-size: 1em;
    }
    p{
        margin: 0.5rem;
    }
}
@media (max-width: 450px){
    .cont1{
        font-size: 0.65em;
        
    } 
    .b2-2{
        display: flex;
        flex-direction: column;
    }
    .b2-2-1{
        width: 98vw;
    }
    .b2-2-2{
        width: 98vw;
    }
    .deschab{
        width: 80vw;
    }
    .supcont2{
        display: flex;
        flex-direction: column;
    }
    .divform{
        width: 80%;
    }
    .supart{
        font-size: 1.5em;
        text-align: justify;
    }
}
@media (max-width: 400px){
    .animapat img{
        width: 100%;
    }
}
@media (max-width: 350px){
    .botao li{
        padding: 1rem;
    }
    .textpatreon{
        font-size: 1em;
    }
    .b1{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .b1 picture{
        padding: 0;
    }
    .cont1{
        width: 90%;
    }
    .cont1-1{
        font-size: 1.4em;
    }
}